/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*  center vertically and horizontally  */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bento-container {
  width: 90%;
  max-width: 1200px;
  padding: 1rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;

  /* optional. fixed aspect ratio   */
    /* aspect-ratio: 16/9; */
}

.bento-item {
  background: gray;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  /* ui to indicate interaction */
  cursor: pointer;
}


/* Featured items */
.bento-item:nth-of-type(1) {
  grid-column: span 2;
  grid-row: span 2;
  aspect-ratio: 2;
}

.bento-item:nth-of-type(2) {
  grid-column: span 1;
}

.bento-item:nth-of-type(3) {
  grid-row: span 1;
  grid-column: span 2;
}

/* Responsive "tablet" size */
@media (max-width: 768px) {
  .bento-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    aspect-ratio: auto;
  }

  .bento-item:nth-of-type(1),
  .bento-item:nth-of-type(2),
  .bento-item:nth-of-type(3) {
  grid-column: span 1;
  grid-row: span 1;
  }
}

/* Responsive "mobile" size */
@media (max-width: 480px) {
  .bento-container {
    grid-template-columns: 1fr;
  }
}
