/* temp background color */
body {
  background: #75715e;
}

.currentTimePre {
  margin-right: 0.5em;
}

.bento-container {
  background: #272822;
  font-family: sans-serif;
  grid-template-columns: repeat(5,1fr);
  border-radius: 8px;
  grid-template-rows: repeat(1,1fr);
}

.bento-item {
  background: #75715e;
  color: #f8f8f2;
  border-radius: 4px;
}

.bento-item:nth-of-type(2) {
  background: #6a7ec8;
}
.bento-item:nth-of-type(3) {
  background: #f92672;
}
.bento-item:nth-of-type(4) {
  background: #a6e22e;
  color: #34352f;
}
.bento-item:nth-of-type(5) {
  background: #ae81ff;
}
.bento-item:nth-of-type(6) {
  background: #66d9ef;
  color: black;
}

.bento-item:hover {
  background: #ac6218;
  color: #f8f8f2;
}

@media (max-width: 768px) {
  .bento-container {
    grid-template-columns: repeat(2, 1fr);
  } 
}

@media (max-width: 480px) {
  .bento-container {
    grid-template-columns: 1fr;
  }
  .bento-item:nth-of-type(1) {
    grid-column: span 1;
  }
  .bento-item {
    aspect-ratio: unset;
  }
}