:root {
  --body-bg: #75715e;
  --bento-container-bg: #272822;
  --bento-item-bg: #75715e;
  --bento-item-color: #f8f8f2;
  --feature2-bg: #6a7ec8;
  --feature3-bg: #f92672;
  --feature4-bg: #a6e22e;
  --feature5-bg: #66d9ef;
  --hover-bg: #ac6218;
}


body {
  background: var(--body-bg);
}

.currentTimePre {
  margin-right: 0.5em;
}

.bento-container {
  background: var(--bento-container-bg);
  font-family: sans-serif;
  grid-template-columns: repeat(5,1fr);
  border-radius: 8px;
  grid-template-rows: repeat(1,1fr);
}

.bento-item {
  background: var(--bento-item-bg);
  color: var(--bento-item-color);
  border-radius: 4px;
}

.bento-item:nth-of-type(2) {
  background: var(--feature2-bg);
}
.bento-item:nth-of-type(3) {
  background: var(--feature3-bg);
}
.bento-item:nth-of-type(4) {
  background: var(--feature4-bg);
  color: #34352f;
}
.bento-item:nth-of-type(5) {
  background: var(--feature5-bg);
  color: black;
}

section.bento-item:hover {
  background: var(--hover-bg);
  color: var(--bento-item-color);
}

@media (max-width: 768px) {
  .bento-container {
    grid-template-columns: repeat(2, 1fr);
  } 
}

@media (max-width: 480px) {
  .bento-container {
    grid-template-columns: 1fr;
  }
  .bento-item:nth-of-type(1) {
    grid-column: span 1;
  }
  .bento-item {
    aspect-ratio: unset;
  }
}